img{
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    right: 100px;
    margin-top: 80px;
  }

#social-media input,
#phone input{
    width: 13em;
    border-radius: 7px;
}

select{
  color: black;
}
